<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<head>
		<meta charset="UTF-8">
		<title>CreditVision - Trascrizione : Report Summary </title>
	</head>
	<body>
		<div  class="back">
			<a align="left" href="{{ url_for('dashboard') }}" class="btn">Back</a> 
		</div>
		
		<div align="center" class="heading" > 
			<font  color="green" >CREDIT</font><b>VISION </b>- <font  color="green" > TRASCRIZIONE</font>
		</div>
		<hr>
		

<form>
	<p>
	
		<div align="center" >
			<div class="dash1"  ><h1 class="title">Report Summary </h1>
				<div  align="left"  >
				<br>
				{% with messages = get_flashed_messages() %} {% if messages %}
				
					{% for message in messages %}
						
					{% autoescape false %} {{ message | safe }} {% endautoescape %}
					
					{% endfor %}
			   
				{% endif %} {% endwith %}
				
				</div>
			</div>
		</div>
		</p>
</form>
</body>
    
