<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<head>
		<meta charset="UTF-8">
		<title>CreditVision - Trascrizione : New Report</title>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
		
	</head>
	
	<body>
		<div class="back">
			<a align="left" href="{{ url_for('dashboard') }}" class="btn">Back</a> 
		</div>
		<div align="center" class="heading" > 
			<font  color="green" >CREDIT</font><b>VISION - </b> <font  color="green" > TRASCRIZIONE</font>
		</div>
		<hr>
		
		<p>
			{% with messages = get_flashed_messages() %} 
				{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %} 
			{% endwith %}
			
		</p>
		
		<script type="text/javascript">
			function loadingprogress(){
				var s = document.getElementById("loading");
				var h = document.getElementById("detail");
				
				s.style.display = "block";
				h.style.display = "none";
    		}
			
			
		</script>
		
		
	<form method="post"  action="{{ url_for('upload') }}" enctype="multipart/form-data" onsubmit="loadingprogress();">
	
		<br>
		
		<div id= 'loading' align="center"  style="display:none;">
			<div> <font  color="grey" size="5"> Processing. please wait...</font></div>
			<br><br>
			<img src="{{ url_for('static', filename='loading.gif') }}" alt="" />
		</div>
		
		<div id='detail' align="center">
			<div class="msg">{{ msg }}</div>
			<br>
			<div  align="center" class="outerup" >
					<h1 class="title">New Extraction</h1>
					<div align="left" >
						<br>
						<div  class="container">
							<br>
							<label  class="replabel">Report Name:</label>
							<input type="text" id="repname" name="repname" required>
						</div>
						<div  class="container">
							<br>
							<label class="replabel" for="excelfile">Select fiscal codes excel file:</label>
							<input type="file" name="excelfile" multiple="false" autocomplete="off" accept=".xlsx" required />
						</div>
						<div class='container' >
							<br>
							<label class="replabel" for="files[]">Select pdf files:</label>
							<input type="file" name="files[]" multiple="true" autocomplete="off" accept=".pdf" required />
						</div>
						<div align="center" class='container' >
							<br>
							<input type="submit" name="Extract" class='dashbtn' value="Extract"  />	
							<br>
						</div>
						<br>
					</div>
			</div>
		</div>
	
	</form>
	
	</body>
	